* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: url(assets/FSvcFl6WQAAJbzM.jfif) no-repeat center center / cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion {
  width: 65%;
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.accordion .accord-title {
  margin-bottom: 30px;
  text-align: center;
}

.accordion .content-container .question {
  padding: 18px 0px;
  font-size: 22px;
  cursor: pointer;
  border-bottom: 1px solid #000;
  position: relative;
}

.accordion .content-container .question::after {
  content: "+";
  position: absolute;
  right: -5px;
}

.accordion .content-container .answer {
  background-color: #f0f0f0;
  padding: 15px 10px;
  font-size: 22px;
  line-height: 1.5;
  width: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

/* JavaScript Style Link */

.active .answer {
  height: 150px;
}

.rem-ans {
  display: block;
}

.active .question {
  font-size: 18px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.active .question::after {
  content: "-";
  font-size: 30px;
  transition: 5s;
  -webkit-transition: 5s;
  -moz-transition: 5s;
  -ms-transition: 5s;
  -o-transition: 5s;
}
